.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: rgb(48, 42, 42);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100px;
    width: auto;
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;;
    padding: 1px;
    background-color: #34373e;
    height: 100px;
}



body {
    background-color: #DBF9FC;
    font-family: 'Lexend Deca', sans-serif;
    width: 800px; 
    margin: auto;
    color: #2E475D;
}