
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
 
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: rgb(48, 42, 42);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100px;
    width: auto;

  }

  h1 {

    text-align: center;
    
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:#f10034;
        color: rgb(240, 2, 2);
        text-align: center;
      }

    h2 {
            position: relative;
            text-align: center;
            left: -495px;


    }
    
    p {

        position: relative;
        text-align: center;
        left: -100px;
        
    }

